body {
    background-color: #fcdce0;
}

.card {
    border-color: #FFF;
    background-color: #fcdce0;
}

#balance {
    font-size: 42px;
}

.only-myna-signer-connected {
    display: none;
}

.only-wallet-loaded {
    display: none;
}